* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;

}
header{
    background-color: white;
    height: 80px;
    position:fixed;
    top: 0;
    left: 0%;
    width: 100%;
}

section{
    height: 100vh;
    width: 100%;
}

#hero{
    background-color: tomato;
}
#content{
    background-color: thistle;
}